/* Responsive */
@media (max-width: 768px) {
  .center {
    height: 80%;
  }
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 4rem 0;
}

.title {
  line-height: 1.15;
  font-size: 4rem;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover, .title a:focus, .title a:active {
  text-decoration: underline;
}

.maincontainer {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  height: 100vh;
  padding: 20px;
  color: white;
}

.center {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  border-right: 0.5px solid white;
  border-left: 0.5px solid white;
  padding: 18px;
}

.title {
  font-size: 30px;
}

.right {
  padding: 20px;
}