/* Responsive */
@media (max-width: 768px) {
  .bottomcontainer {
    background-color: rgb(18, 30, 67);;
  }
}

.leftcontainer {
  position: fixed;
  left: 20px;
  top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  align-items: flex-start;
}

.Link a {
  display: inline-block;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.logo {
  object-fit: contain;
  width: 30px;
  height: 30px;
  pointer-events: none;
  position: sticky;
  top: 20px;
}


.bottomcontainer {
  position: fixed;
  bottom: 20px;
  left: 20px;
  padding: 20px;
  display: flex;
  align-items: center;
  width: auto;
}

.avatar {
    border-radius: 50%;
    border: 10px solid transparent;
    transition: border-color 0.3s ease;
}

.avatar:hover {
    border-color: red;
}

.bottomnames {
    padding: 10px;
}

.firstname {
    font-weight: 700;
    font-size: x-large;
}

.username {
    font-weight: 200;
    font-size:small;
    opacity: 0.8;
}