.cleanhashtag:hover {
    cursor: 'pointer';
}

.words {
  margin: 10px;
  padding: 10px;
}

.hashtags {
    font-size: 20px;
    font-weight: 700;
    padding: 5px;
}

.hashtags:hover {
  cursor: pointer;
  color: rgb(29, 155, 240);
}

.trendContainer {
  background-color: #1b232c;
  border-radius: 20px 0px 0px 20px;
  margin-right: 0;
  padding-right: 0;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 4rem 0;
}

.title {
  line-height: 1.15;
  font-size: 4rem;
  padding-left: 20px;
}

.trendcount {
  color:#5d6977;
  padding: 5px;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover, .title a:focus, .title a:active {
  text-decoration: underline;
}

.maincontainer {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  height: 100vh;
  padding: 20px;
  color: white;
}

.center {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  border-right: 0.5px solid white;
  border-left: 0.5px solid white;
  padding: 18px;
}

.title {
  font-size: 30px;
}


.searchContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchtags {
    background: none;
    width: 80%;
    border-radius: 20px;
    background-color: #1b232c;
    color: white;
    padding: 10px;
    margin-bottom: 3px;
}